 .navbar {
     background-color: #212529;
    position: fixed;
    height:160px;
}


#bold{
    color:#070707;
}

.call:hover {
    .makeacall {
        color: rgb(225, 195, 171);
    }

    border:2px solid rgb(225, 195, 171);
    background-color: #2B3035;
    color:rgb(225, 195, 171);
}

.makeacall:hover {
    color: rgb(225, 195, 171);
}

.call {
    display: block;
    border: 2px solid rgb(225, 195, 171);
    border-radius: 0%;
    background-color: rgb(225, 195, 171);
    width: 180px;
    height: 50px;
    color: black;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.makeacall {
    color: black;
}


.containers {
    background-color: #212529;
    padding-left: 30px;
    padding-bottom: 0;
    padding-right: 30px;
    padding-right: 30px;
}

.lmbutt {
    display: block;
    border: 2px solid rgb(225, 195, 171);
    border-radius: 5px;
    background-color: rgb(225, 195, 171);
    color: #2B3035;
    width: 180px;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
    margin: 15px;
}

.lmbutt:hover {
    background-color: #2B3035;
    color: white;
}

.gabutt {
    display: block;
    border: 2px solid #2B3035;
    border-radius: 5px;
    background-color: #2B3035;
    color: white;
    width: 180px;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
    margin: 15px;
}

.gabutt:hover {
    border: 2px solid rgb(225, 195, 171);
    background-color: rgb(225, 195, 171);
    color: #2B3035;
}

#contain {
    display: block;
    border: 10px solid rgb(225, 195, 171);
    margin: 80px 80px;
    padding: 50px;
    text-align: center;
    align-self: center;
    height: 350px;
    /* width: fit-content; */
}

.button-theme {
    display: block;
    border: 2px solid rgb(225, 195, 171);
    background-color: rgb(225, 195, 171);
    color: black;
    text-decoration: none;
    width: 150px;
    padding: 5px;
}

.p1{
    color:#070707;
}
.button-theme:hover {
    background-color: #212529;
    color: aliceblue
}

.container {
    margin: 15px;
    padding: 10px;
}
/*  */
.row {
    padding: 20px;
}

.para {
    text-align: justify;
    font-size: small;
}

.h5 {
    color: rgb(46, 46, 46);
}

.imga{
    display:block;
    border:2px solid black;
    border-radius:100%; 
}

.card-text {
    color: rgb(46, 46, 46);
    text-align: center;
    padding: 15px;
text-align: justify;
}

.card-texts {
    color: rgb(10, 10, 10);
}

.card-title {
    color: rgb(10, 10, 10);
   
}

#text {
    color: black;
    background-color: white;
    align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 30px;

}

.card-body {
    padding: 10px;

    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;

}

#imga{
    display:block;
    border:0.5px solid black;
    border-radius:70px;
    width:100px;
    height:100px;
    background-color: #070707;
    align-items: center;
    text-align: center;
    justify-self: center;
margin:50px;
}

.app-butt {
    display: block;
    text-decoration: none;
    border: 2px solid rgb(240, 205, 142);
    width: 200px;
    height: 50px;
    color: black;
    background-color: rgb(240, 205, 142);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.app-butt:hover {
    color: white;
    background-color: black;
}

.d-block {
    visibility: 50%;
    overlay: black;
}

.img {
    height: 200px;
    width: 80%;
    z-index: 0;
}

/* #conimg{
position: relative;
width:50%;
} */

.img1 {
    opacity: 1;
    display: block;
    width:250px;
    height:250px;
    /* width: 100%; */
    /* height: auto; */
    transition: .5s ease;
    /* backface-visibility: hidden; */
  }

/*hover effect*/
  #conimg{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.cadr{
    width:500px;
    height:300px;
    position:relative;
    overflow:hidden;
}

.cadr>img1{
    width:100%;
    height:100%;
    transition:all0.3s;
}

.img1{
width:340px;
}
.content{
    position:absolute;
bottom:-200px;
left:10px;
color:white;
padding:10px;
transition:all0.3s;
}

.cadr:hover{
    .content{
        bottom: 30px;
    }
}

.cadr:hover {
    .img1{
        filter: brightness(0.6);
    }
}

  
  .text{
    position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color:black; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  }

  
 /

.text-over-image {
    z-index: 1;
    font-size: 1.2em;
    margin-top: -100px;
}

.container {
    margin: 20px;
    padding: 10px;
}

#team {
    background-color: black;
    color: aliceblue;
    text-align: center;
}


.head {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    /* padding-left: 450px; */
    text-align: center;
}

.name {
    color: black;
}

.speci {
    color: rgb(240, 205, 142);
}

.card-imgs-top {
    width: 16rem;
    height: 180px;
    border-radius: 3px;
}

#row3 {
    display: flex;
    justify-content: center;

}

.join-butt {
    display: block;
    text-decoration: none;
    border: 2px solid rgb(240, 205, 142);
    width: 200px;
    height: 50px;
    color: rgb(240, 205, 142);
    background-color: black;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#text-block{
text-align: justify ;
}

.join-butt:hover {
    color: black;
    background-color: rgb(240, 205, 142);
}

#images{
    margin-top:200px;
}

/* .card {
    background-color: #212529;
} */


.name:hover {
    color: rgb(240, 205, 142);
}

.speci:hover {
    color: black;
}



#video {
    display: flex;
    justify-content: center;
}

#video2 {
    padding: 10px;
}

.INTRO {
    display: flex;
    justify-content: center;
    color: #2B3035;
}

#plans {
    display: flex;
    justify-content: center;
    color: #626466;
}

#pp {
    display: flex;
    justify-content: center;
    color: #2B3035;
}

.top {
    padding: 15px;
}

.bronge {
    display: flex;
    justify-content: center;
    color: #626466;
}

.dprice {
    display: flex;
    justify-content: center;
    color: rgb(11, 10, 10);
}

.hhone {
    color: #070707;
}

.hone {
    color: rgb(10, 10, 10);
}

.card-link {
    display: block;
    text-decoration: none;
    border: 2px solid rgb(240, 205, 142);
    width: 200px;
    height: 50px;
    color: black;

    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-link:hover {
    background-color: rgb(240, 205, 142);
}

/* #one {
    display: flex;
    justify-content: center;
    align-self: center;
} */

#pic-back {
    background-image: url(https://cdn05.zipify.com/9qLckVoQ_IhDLMzqZyK4La8y71I=/fit-in/3840x0/ef252fbd8a564e47af7e7a50dc4bef72/untitled-design-59.png);
    justify-content: center;
    height: 600px;
    padding: 150px 350px;
    /* padding-left:350px;
    padding-right: 350px; */
    align-items: center;
    align-content: center;
    justify-items: center;
}

.lastlink {
    text-decoration: none;
    color: #212529;
}

.lastlink:hover {
    color: rgb(241, 148, 120);
}
.last::hover{
    color: rgb(244, 169, 146);
}
.text-body-secondry {
    background-color: aliceblue;
}

#pic-back2 {
    background-image: url(https://t3.ftcdn.net/jpg/03/51/51/28/360_F_351512882_2kFH8IaSe4lyA7SXBLzEXyGKNEgbO1iH.jpg);
    /* display: flex; */
    justify-content: center;

    height: 900px;
    padding: 150px 350px;
    /* padding-left:350px;
    padding-right: 350px; */
    align-items: center;
    align-content: center;
    justify-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hhone {
    display: flex;
    justify-content: center;
}

.hone {
    display: block;
    justify-content: center;
    text-align: center;
}

.subs {
    display: block;
    justify-content: center;
    text-align: center;
}

.thm-butt {
    background-color: rgb(241, 148, 120);
    color: black;
}

.thm-butt:hover {
    background-color: black;
    color: white;
}

#footer {
    background-color: #2B3035;
    color: white;
    margin-top:200px;
}

.icons {
    display: block;
    border: 2px solid rgb(25, 17, 17);
    border-radius: 30px;
    width: 20px;
    height: 20px;
    padding: 10px;
    color: white;
    display: inline;
    background-color: rgb(25, 17, 17);
}

.icons:hover {
    background-color: rgb(241, 148, 120);
    border: 2px solid rgb(241, 148, 120);
    color: #070707
}

.link{
    text-decoration: none;
    color: azure;
}

.link:hover{
    color: rgb(241, 148, 120);
}

.email{
    width: 300px;
    height: 60px;
}

.message{
    width: 300px;
    height: 300px;
}

#th-price{
    display:block;
    border:2px solid rgb(241, 148, 120);
    border-radius:70px;
    background-color: rgb(241, 148, 120);
    width:150px;
    height:150px;
    justify-content: center;
    margin:70px;
}

/* about */
/* .container-fluid{
    display:block;
height:500px;
align-items: center;
text-align: center;
width:2000px;
color:#f1f1f1;
} */

.text-center{
   padding-top:180px;
padding-bottom: 180px;
}
 */ */
